:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar .container {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--dark-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  border: #ccc 1px solid;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

.btn-create {
  background: #6f42c1;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.auth-form-container {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  padding: 1rem;
  border-radius: 5px;
}

.card h3 {
  margin-bottom: 0.5rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 5px;
  background: #ccc;
  color: #fff;
}

.badge-success {
  background: var(--success-color);
}

.badge-danger {
  background: var(--danger-color);
}

/* Utilities */
.text-primary {
  color: var(--primary-color);
}

.my-1 {
  margin: 1rem 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 700px) {

  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}